body{
    margin:0;
}

#navheader      { margin-left: 100px; font-size: 3em; color:#377ba8; font-family: 'Georgia', serif;}
#navslogan      { margin-left: 150px;}

/* Nav bar stuff
------------------------------------------*/
#navbar,
#navbar ul {
    list-style: none;
}
#navbar {
    float: left;
    position: relative;
    width: 100%;
}
#navbar > li {
    float: left;
}
#navbar li a {
    display: block;
    height: 2em;
    line-height: 2em;
    padding: 0 1.5em;
    text-decoration: none;
}
#navbar ul {
    position: absolute;
    display: none;
    z-index: 999;
}
#navbar ul li a {
    width: 80px;
}
#navbar li:hover ul.noJS {
    display: block;
}

/* Main menu
------------------------------------------*/
#navbar {
    font-family: Arial;
    font-size: 12px;
    background: #2f8be8;
}
#navbar > li > a {
    color: #fff;
    font-weight: bold;
}
#navbar > li:hover > a {
    background: #E6E6FA;
    color: #000;
}


/* Chart
-----------------------------------------_*/
.actions, .chart {
    margin: 15px auto;
    width: 34px;
    float: none;
    margin-top: -50px;
}


/* SLICERS
-----------------------------------------_*/

h3 {
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #484848;
    margin-left: 15px;
}


#selectors_shell{
    float: left;
}

.slicers {
    float: left;
    width: 200px;
    list-style: none;
    /*display: block;*/
    margin: -15px 20px 0 -25px;
}

.slicers li{
    font-family: arial, helvetica, sans-serif;
    text-align: center;
}

.smaller-slicers {
    float: left;
    width: 200px;
    list-style: none;
    /*display: block;*/
    margin: -15px 20px 0 -25px;
}

.smaller-slicers li{
    font-family: arial, helvetica, sans-serif;
    text-align: center;
    font-size: 12px
}


div label input {
   margin-right:100px;
}

.ck-button {
    margin:2px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

.ck-button:hover {
    background:#87CEFA;
}

.ck-button label {
    float:left;
    width:10.0em;
}

.ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

.ck-button label input {
    position:absolute;
    top:-20px;
}

.ck-button input:checked + span {
    background:#2f8be8;
    color:#fff;
}
