{% extends 'base.html' %}		

{% block for %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="/static/js/main.js"></script>

<br><br><br>

<form name="update" action="/crt_group" method="POST">
	<div id="selectors_shell">	
		<h3>Grade Level</h3>
		<ul class="slicers">
			{% for g in grades %}
				{% if g == f_grade %}
					<li><div class="ck-button"><label><input type="radio" name="ck" value="{{g}}" onClick="this.form.submit()" checked><span>{{g[4:]}}</span></label></div></li> 
				{% else %}
					<li><div class="ck-button"><label><input type="radio" name="ck" value="{{g}}" onClick="this.form.submit()"><span>{{g[4:]}}</span></label></div></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</form>

<div id={{ chartID|safe }} class="chart" style="height: 100px; width: 1000px; margin-top: 5px;"></div>
	<script>
		var chart_id = {{ chartID|safe }}
		var series = {{ series|safe }}
		var title = {{ title|safe }}
		var xAxis = {{ xAxis|safe }}
		var yAxis = {{ yAxis|safe }}
		var chart = {{ chart|safe }}
	</script>
			
{% endblock %}	