{% extends 'base.html' %}		

{% block for %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="/static/js/main.js"></script>

<br><br><br>

<div id="selectors_shell">
	<h3>Grades</h3>
	<ul class="selectors">
	{% for g in grades %}
		{% if g == grade %}
			<li><a href="/students/{{g}}/Mr. Sternberg/all"><div class="current_buttons">{{g[4:]}}</div></a></li>
		{% else %}
			<li><a href="/students/{{g}}/Mr. Sternberg/all"><div class="select_buttons">{{g[4:]}}</div></a></li>
		{% endif %}
	{% endfor %}
	</ul>
	<div style="clear:both;"></div>
	<ul class="selectors">
	<h3>Teachers</h3>
	{% for t in teachers %}
		{% if t == teacher %}
			<li><a href="/students/0 - Kindergarten/{{t}}/all"><div class="current_buttons">{{t}}</div></a></li>
		{% else %}
			<li><a href="/students/0 - Kindergarten/{{t}}/all"><div class="select_buttons">{{t}}</div></a></li>
		{% endif %}
	{% endfor %}
	</ul>
	<div style="clear:both;"></div>
	<ul class="selectors">
	<h3>CRT Groups</h3>
	{% for c in crt_groups %}
		{% if c == crt_group %}
			<li><a href="/students/0 - Kindergarten/Mr. Sternberg/{{c}}"><div class="current_buttons">{{c}}</div></a></li>
		{% else %}
			<li><a href="/students/0 - Kindergarten/Mr. Sternberg/{{c}}"><div class="select_buttons">{{c}}</div></a></li>
		{% endif %}
	{% endfor %}
	</ul>
</div>

<div id={{ chartID|safe }} class="chart" style="height: 100px; width: 1000px; margin: 5px;"></div>
	<script>
		var chart_id = {{ chartID|safe }}
		var series = {{ series|safe }}
		var title = {{ title|safe }}
		var xAxis = {{ xAxis|safe }}
		var yAxis = {{ yAxis|safe }}
		var chart = {{ chart|safe }}
	</script>
			
{% endblock %}	