{% extends 'base.html' %}		

{% block for %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<script src="/static/js/main.js"></script>
<script src="/static/js/jquery-latest.js"></script>
<script src="/static/js/jquery.tablesorter.js"></script>
<script src="/static/js/jquery.dataTables.js"></script>
<!-- <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script> -->

<br><br><br>

<form name="update" action="/students" method="POST">
	<div id="selectors_shell">	
		<h3>Grade Level</h3>
		<ul class="smaller-slicers">
			{% for g in grades %}
				{% if g == f_grade %}
					<li><div class="ck-button"><label><input type="radio" name="r1" value="{{g}}" onClick="this.form.submit()" checked><span>{{g[4:]}}</span></label></div></li> 
				{% else %}
					<li><div class="ck-button"><label><input type="radio" name="r1" value="{{g}}" onClick="this.form.submit()"><span>{{g[4:]}}</span></label></div></li>
				{% endif %}
			{% endfor %}
		</ul>
	<div style="clear:both;"></div>
		<h3>Teachers</h3>
		<ul class="smaller-slicers">
			{% for t in teachers %}
				{% if t == f_teacher %}
					<li><div class="ck-button"><label><input type="radio" name="r2" value="{{t}}" onClick="this.form.submit()" checked><span>{{t}}</span></label></div></li> 
				{% else %}
					<li><div class="ck-button"><label><input type="radio" name="r2" value="{{t}}" onClick="this.form.submit()"><span>{{t}}</span></label></div></li>
				{% endif %}
			{% endfor %}
		</ul>
	<div style="clear:both;"></div>
		<h3>Prior Year Proficiency</h3>
		<ul class="smaller-slicers">
			{% for p in proficiency_list %}
				{% if p == f_proficiency %}
					<li><div class="ck-button"><label><input type="radio" name="r3" value="{{p}}" onClick="this.form.submit()" checked><span>{{p}}</span></label></div></li> 
				{% else %}
					<li><div class="ck-button"><label><input type="radio" name="r3" value="{{p}}" onClick="this.form.submit()"><span>{{p}}</span></label></div></li>
				{% endif %}
			{% endfor %}
		</ul>
	<div style="clear:both;"></div>
	</div>
</form>

<style type="text/css">
	table.sortable {font-family: Arial, helvetica, sans-serif; font-size:12px;color:#333333;width:1200px;border-width: 1px;border-color: #000000;border-collapse: collapse;}
	table.sortable th {font-size:12px;background-color:#d3d3d3;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;text-align:left;}
	table.sortable tr {background-color:#efefef;}
	table.sortable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #000000;}
/*	table {
		font-family: arial;
		border-width: 1px;
		border-color: #000000;
		border-collapse: collapse;
		table-layout: fixed;
		width:1000px;
		overflow: hidden;
	}*/
</style>

<table class="sortable" border="1">
	<thead>
		<tr>
			<th>Student</th>
			{% for q in quizzes %}
				<th>{{q}}</th>
			{% endfor %}	
		</tr>
	</thead>
	<tbody>
		{% for st in students %}
			<tr>
			{% for i in range(qcnt+1) %}
				{% if i == 0 %}	
					<td>{{st[i]}}</td>
				{% elif st[i] == '' %}
					<td style="background-color: grey; color: white; font-weight: bold;">{{st[i]}}</td>	
				{% elif st[i] == 1 or st[i] == 0 %}
					<td style="background-color: red; color: white; font-weight: bold;">{{st[i]}}</td>
				{% elif st[i] == 2 %}
					<td style="background-color: yellow; font-weight: bold;">{{st[i]}}</td>
				{% elif st[i] == 3 %}
					<td style="background-color: #66ff00; font-weight: bold;">{{st[i]}}</td>
				{% else %}
					<td style="background-color: #32CD32; font-weight: bold;">{{st[i]}}</td>
				{% endif %}
			{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

<script type="text/javascript">			
$(document).ready(function() 
    { 
        $("table").tablesorter({sortList: [[0,0], [1,0]]}); 
    } 
); 
// $(document).ready(function() {
// 	$('table').dataTable( {
// 		"sScrollY": "600px",
// 		"bPaginate": false,
// 		"bAutoWidth": false
// 	} );
// } );
</script>

{% endblock %}	